<h1>List of photos</h1>

<form action="/insert_photo" method="post">
  <label for="image_box">Image</label>
  <input type="text" id="image_box" name="query_image_url" placeholder="Enter a URL for the image..."></input>
  <label for="caption_box">Caption</label>
  <textarea id="caption_box" name="query_caption" placeholder="Enter a caption for the photo..."></textarea>
  <label for="owner_id_box">Owner ID</label>
  <input type="text" id="owner_id_box" name="query_owner_id" placeholder="Enter an ID of a User"></input>
  <button>Add photo</button>
</form>

<hr>
